fastapi==0.115.11
uvicorn[standard]==0.34.0
sqlalchemy[asyncio]==2.0.38
asyncpg==0.30.0
pydantic==2.10.6
pydantic-settings==2.7.1
python-jose[cryptography]==3.4.0
bcrypt==3.2.2
passlib[bcrypt]==1.7.4
alembic==1.15.1
python-multipart==0.0.20
Pillow==11.0.0